Import this library in terminal 
pip install opencv-python
pip install mediapipe
pip install scikit-learn

Check if install is successfull
pip show opencv-python
pip show mediapipe
pip show scikit-learn

Run the python(py) file in the termial 
cd src
python collect_imgs.py

Data ASL (American Sign Language)
0 = a
1 = b
2 = c

Compile 
cd src
python collect_imgs.py
python create_dataset.py
python train_classifier.py
python inference_classifier.py
